@model List<Application>

@{
    ViewData["Title"] = "Заявки";
}

<h1>Заявки</h1>
<form method="get" class="mt-3" asp-action="ViewInPeriod">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Выбрать за:</label>
        <select class="form-control" id="exampleFormControlSelect1" name="selectedPeriod">
            <option value="today">Сегодня</option>
            <option value="yesterday">Вчера</option>
            <option value="this week">Неделя</option>
            <option value="all time">Все время</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Показать</button>
</form>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Сообщение</th>
            <th>Дата отправки</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var application in Model)
            {
                <tr>
                    <td>@application.Id</td>
                    <td>@application.Name</td>
                    <td>@application.Email</td>
                    <td>@application.Message</td>
                    <td>@application.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td>@application.Status</td>
                    @if (User?.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                    {
                        <td> <a href="view/@application.Id">Изменить статус</a> </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>